.sec {
    position: fixed;
    top: 11px;
    left: 9.9em;
}
input {
    border-radius: 4px;
    border: 1px solid;
    padding: 6px 18px;
}
.thi {
position: absolute;
margin-top: -130px;
margin-left: -140px;
transition: 0.4s;
max-width: fit-content;

}
.for {
    position: absolute;
    margin-left: 24em;
    margin-top: -4.4em;
    padding: 12px;
    background-color: aliceblue;
    
}
a {
    padding: 20px;
    text-decoration: none;
    
}
.imgg {
    position: absolute;
    margin-top: -4.4em;
    margin-left: 35em;
    cursor: pointer;
    transition: 0.4s ease;
}
img {
    border-radius: 45%;
    transition: 0.3s;
}
.dusra {
    position: absolute;
    margin-left: 23.9em;

}
.big {
    font-size: 30px;
    font-family: sans-serif;
    transition: 0.2s ease;
}
.seco {
    margin: 3px;
    padding: 5px;
}
.butt {
    position: absolute;
    margin-left: 90px;
}
.pehla {
    position: absolute;
    margin-left: -7.6em;
    padding: 7px;
    color: aliceblue;
    background-color: brown;
    border: 1px solid;
    border-radius: 3px;
    transition: 0.4s ease;
    cursor: pointer;
}
.dusraa {
    padding: 7px;
    color: aliceblue;
    background-color: brown;
    border: 1px solid;
    border-radius: 3px;
    transition: 0.4s ease;
    cursor: pointer;
}
.big:hover {
    font-size: 36px;
    text-shadow: 0 0 10px cyan;
    color: rgb(21, 181, 225);
}
.pehla:hover {
    background-color: rgb(30, 30, 162);
    text-shadow: 0 0 6px;
}
.dusraa:hover {
    background-color: rgb(30, 30, 162);
    text-shadow: 0 0 6px;
}
.rough {
    transition: 0.4s ease;

}
.rough:hover {
    transform: scale(1.2);
}
